# ONLY SECRETS HERE!

# ELASTIC
ELASTIC_PASSWD=

# MILVUS
## if using Milvus from watsonx.data user is `ibmhlapikey` and password is the apikey
MILVUS_PASSWORD=

#DB2
DB_PASSWORD=

# WATSONX
API_KEY=

#VERIFY
VERIFY_LOGIN_SECRET=

# COS
COS_API_KEY=

# S3
S3_HMAC_ACCESS_KEY_ID=
S3_HMAC_SECRET_ACCESS_KEY=

# WATSON DISCOVERY
WD_APIKEY=